

<div class="row">

   <div class="span4">
       <%= simple_form_for(resource, as: resource_name,
                     url: session_path(resource_name), html: {class: "well"}) do |f| %>
  

          <fieldset>
              <legend>Sign in</legend>
          <%= f.input :email %>
         
          <%= f.input :password %>
          

        <% if devise_mapping.rememberable? -%>
              <%= f.input :remember_me, as: :boolean %>
         <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
        </fieldset>
      <% end %>

      <%= render "devise/shared/links" %>

   </div>

   <div class="span4">
      <h2>Easy and Secure Signing</h2>
   </div>

</div>


