<%= simple_form_for(@post, html: {class: "form-horizontal"}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
    <%= f.input :title %>
   <!-- <%= f.input :category_id %>  -->
    <%= f.input :category_id,:collection => @categories,:label_method => :category_name,:value_method => :id ,:include_blank => false %>
  <!--  <%= f.collection_select :category_id, @categories, :id, :category_name, :prompt => "Select a category" %> -->
    <%= f.input :description %>
   <div class="form-actions">
    <%= f.button :submit  %>
   </div>
<% end %>
