
<br>
<%= link_to 'New Ad Post', new_post_path, class: "btn btn-success" %>
<% if !current_user.nil? and current_user.profile_name == "admin"%>
    <%= link_to 'New category', new_category_path, class: "btn btn-success" %>
    <%= link_to 'List Categories', categories_path, class: "btn btn-success" %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Title</th>
      <th>Posted Before</th>
      <th>Category</th>
     
       <th></th>
     
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <% if !post.user.nil? %>
            <%= post.user.first_name %>
          <% end %>
        </td>
        <td><%= post.title %></td>
        <td><%= time_ago_in_words(post.created_at) %></td>
        <td><%= post.category.category_name %></td>
        
        <td>
          <% if !current_user.nil?  %>
            <div class="meta">
                   <%= link_to 'Show', post %>
                   <% if ((!current_user.nil? and !post.user.nil?) and  (current_user.profile_name == post.user.profile_name or current_user.profile_name == "admin" )) %>
                       |  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                   <% end %>
            </div>
            <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


