<br><br><br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
   <%= @post.user.first_name %> 
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Dateposted:</strong>
  <%= @post.created_at %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.category_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<% if current_user.profile_name == "admin"  || @post.user.profile_name == current_user.profile_name%>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Destroy', edit_post_path(@post) %>
<% end %>

<%= link_to 'Back', posts_path %>