// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin{
	display: none;
}

.hover .admin{
	display: inline;
}

.hover{
	background: #FAFAFA
}