
<br><br>
<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :category_name %>
    <%= f.input :no_of_items %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
