<!DOCTYPE html>
<html>
<head>
  <title>Bboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
           <div class="container">
              <a href="#" class="brand">
              	Symantec BB
              </a>

              <ul class="nav">
              	<li>
              		<%= link_to "All Posts",posts_path   %>
              	</li>
              </ul>
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                  <li>
                      <%= link_to current_user.full_name, edit_user_registration_path %>
                  </li> 
                  <li>
                      <%= link_to "Log Out",destroy_user_session_path, method: :delete %>
                  </li> 
                  <% else %>
                   <li>
                      <%= link_to "Register", new_user_registration_path %>
                   </li> 
                    <li>
                      <%= link_to "Log in",new_user_session_path %>
                    </li> 
                 <% end %>   
              </ul>
           </div>
     </div>
</div>
<div class="container">
   

   <% flash.each do |type , message| %>


       <div class="alert <%= flash_class type %> ">
             <button class="close" data-dismiss="alert">x</button>
             <%=  message  %>
        </div>
   <% end %>
  <div class="row">
  <div class="span2">
    <br><br><br>
    <ul class="nav nav-list">
     
  <% if !@categories.nil? %>
    <li class="nav-header"> Categories </li>
      <% @categories.each do |category| %>
      <li>  <%= link_to "#{ category.category_name }(#{ Post.find_all_by_category_id(category.id).length })", categorysearch_url(category.id) %>
           </li>
       <% end %>
    <% end %>
</ul>
    
  </div>
  <div class="span10">   <%= yield %> </div>
  </div>
</div>


</body>
</html>
